.s {
 
    width: 410px;
    height: 700px;
    background-color: hsl(27, 66%, 92%);
    margin-top: 0px;
    margin-left: 0px; 
    margin-right: 0px;
    margin-bottom: 0px;
}

.q {
    width: 384px;
    height:130px;
    border-radius: 25px;
    margin-top: 80px;
    margin-left: 13px;
    background-color: hsl(10, 79%, 65%);
}


.hey {
padding-left: 30px ;
padding-top: 35px; 
/* padding: 1.5em 0 0.1em 1.5em;
font-size: 14px; */
font-family: 'DM Sans', sans-serif; 
font-weight: normal;
color: white;
}





  .hay
   {
padding-left: 34px;
margin-top: 0px;
font-size: 18px;
font-family: 'DM Sans', sans-serif; 
font-weight: bold;
color: white;    
    } 


.yup {

  margin-left: 280px; 
  margin-top: 0px; 
 
}


.w {
        width: 384px;
        height:400px;
        border-radius: 25px;
        margin-top: 30px;
        margin-left: 13px;
        background-color: white;
    }
    
#yes {
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    color:  hsl(25, 47%, 15%);
    padding-left: 40px; 
    padding-top: 25px;

}

table, th, td {
    border: 1px solid black;
    border-radius: 20%;
    border-collapse: collapse;
    border-style: hidden;
    border-spacing: 0px;
    margin-top: 45px;
    
  }

  .noah {
    width: 353px;
    text-align:left;
    margin-left: 15px;
  }

 #pfp {
    font-family:'Overpass', sans-serif ;
    font-weight: 100;
    font-size: 15px;
    color: hsl(28, 10%, 53%);
    margin-left: 30px;
    margin-top: 30px;
 } 

 #rew {

    font-family:'Overpass', sans-serif ;
    color: hsl(25, 47%, 15%);
    margin-left: 30px;
    font-weight: bold;
    font-size: 30px;
 }

 #we {
font-size: 10px;
font-family:'Overpass', sans-serif ;
color: hsl(25, 47%, 15%);
margin-left: 280px;
margin-top: 0px;
 }

 #he {

    font-size: 10px;
    font-family:'Overpass', sans-serif ;
    color: hsl(28, 10%, 53%);
margin-top: 5px;
margin-left: 270px;
margin-right: 10px;
text-align:start;
 }